@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

@font-face {
  font-family: "Recoleta";
  src: url("./fonts/Recoleta-Light.eot");
  src:
    url("./fonts/Recoleta-Light.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Recoleta-Light.woff2") format("woff2"),
    url("./fonts/Recoleta-Light.woff") format("woff"),
    url("./fonts/Recoleta-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Recoleta";
  src: url("./fonts/Recoleta-Bold.eot");
  src:
    url("./fonts/Recoleta-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Recoleta-Bold.woff2") format("woff2"),
    url("./fonts/Recoleta-Bold.woff") format("woff"),
    url("./fonts/Recoleta-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Recoleta Alt";
  src: url("./fonts/RecoletaAlt-Thin.eot");
  src:
    url("./fonts/RecoletaAlt-Thin.eot?#iefix") format("embedded-opentype"),
    url("./fonts/RecoletaAlt-Thin.woff2") format("woff2"),
    url("./fonts/RecoletaAlt-Thin.woff") format("woff"),
    url("./fonts/RecoletaAlt-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Recoleta";
  src: url("./fonts/Recoleta-Black.eot");
  src:
    url("./fonts/Recoleta-Black.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Recoleta-Black.woff2") format("woff2"),
    url("./fonts/Recoleta-Black.woff") format("woff"),
    url("./fonts/Recoleta-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Recoleta DEMO";
  src: url("./fonts/Recoleta-RegularDEMO.eot");
  src:
    url("./fonts/Recoleta-RegularDEMO.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Recoleta-RegularDEMO.woff2") format("woff2"),
    url("./fonts/Recoleta-RegularDEMO.woff") format("woff"),
    url("./fonts/Recoleta-RegularDEMO.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Recoleta";
  src: url("./fonts/Recoleta-Thin.eot");
  src:
    url("./fonts/Recoleta-Thin.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Recoleta-Thin.woff2") format("woff2"),
    url("./fonts/Recoleta-Thin.woff") format("woff"),
    url("./fonts/Recoleta-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Recoleta";
  src: url("./fonts/Recoleta-Medium.eot");
  src:
    url("./fonts/Recoleta-Medium.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Recoleta-Medium.woff2") format("woff2"),
    url("./fonts/Recoleta-Medium.woff") format("woff"),
    url("./fonts/Recoleta-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Recoleta";
  src: url("./fonts/Recoleta-SemiBold.eot");
  src:
    url("./fonts/Recoleta-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Recoleta-SemiBold.woff2") format("woff2"),
    url("./fonts/Recoleta-SemiBold.woff") format("woff"),
    url("./fonts/Recoleta-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Recoleta";
  src: url("./fonts/Recoleta-Regular.eot");
  src:
    url("./fonts/Recoleta-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Recoleta-Regular.woff2") format("woff2"),
    url("./fonts/Recoleta-Regular.woff") format("woff"),
    url("./fonts/Recoleta-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Recoleta Alt";
  src: url("./fonts/RecoletaAlt-Regular.eot");
  src:
    url("./fonts/RecoletaAlt-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/RecoletaAlt-Regular.woff2") format("woff2"),
    url("./fonts/RecoletaAlt-Regular.woff") format("woff"),
    url("./fonts/RecoletaAlt-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Recoleta Alt";
  src: url("./fonts/RecoletaAlt-Bold.eot");
  src:
    url("./fonts/RecoletaAlt-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/RecoletaAlt-Bold.woff2") format("woff2"),
    url("./fonts/RecoletaAlt-Bold.woff") format("woff"),
    url("./fonts/RecoletaAlt-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Recoleta Alt";
  src: url("./fonts/RecoletaAlt-Medium.eot");
  src:
    url("./fonts/RecoletaAlt-Medium.eot?#iefix") format("embedded-opentype"),
    url("./fonts/RecoletaAlt-Medium.woff2") format("woff2"),
    url("./fonts/RecoletaAlt-Medium.woff") format("woff"),
    url("./fonts/RecoletaAlt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Recoleta Alt";
  src: url("./fonts/RecoletaAlt-SemiBold.eot");
  src:
    url("./fonts/RecoletaAlt-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/RecoletaAlt-SemiBold.woff2") format("woff2"),
    url("./fonts/RecoletaAlt-SemiBold.woff") format("woff"),
    url("./fonts/RecoletaAlt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Recoleta Alt";
  src: url("./fonts/RecoletaAlt-Light.eot");
  src:
    url("./fonts/RecoletaAlt-Light.eot?#iefix") format("embedded-opentype"),
    url("./fonts/RecoletaAlt-Light.woff2") format("woff2"),
    url("./fonts/RecoletaAlt-Light.woff") format("woff"),
    url("./fonts/RecoletaAlt-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Recoleta Alt";
  src: url("./fonts/RecoletaAlt-Black.eot");
  src:
    url("./fonts/RecoletaAlt-Black.eot?#iefix") format("embedded-opentype"),
    url("./fonts/RecoletaAlt-Black.woff2") format("woff2"),
    url("./fonts/RecoletaAlt-Black.woff") format("woff"),
    url("./fonts/RecoletaAlt-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";
@source "../index.html";
@source "../services.html";

@theme {
  --font-recoleta: "Recoleta", serif;
  --font-karla: "Karla", sans-serif;
  --mivida-black: #21201f;
  --mivida-white: #ffffff;
  --mivida-cream-white: #fff7f1;
  --mivida-white-warming: #fff5eb;
  --mivida-warm-cream: #fff7f199;
  --mivida-red: #d50401;
  --mivida-red-400: #e64428;
  --mivida-red-300: #eb6952;
  --mivida-red-200: #ffc1b6;
  --mivida-red-100: #fdf1f1;
  --mivida-green: #4a5846;
  --mivida-green-100: #f5f5f5;
  --mivida-green-200: #d1d8cf;
  --mivida-green-300: #99aa94;
  --mivida-green-400: #6a7865;
  --mivida-warm-grey: #737271;
  --mivida-web-grey: #b6b6b6;

  --mivida-dark-teal: #024555;
  --h1-font-size: clamp(2.375rem, 4.89vw, 4.375rem);
  --h2-font-size: clamp(3.125rem, 4.66vw, 4.25rem);
  --h3-font-size: clamp(2.375rem, 3.6vw, 3.125rem);
  --h4-font-size: 2.375rem;
  --h5-font-size: clamp(1.3125rem, 1.96vw, 1.75rem);
  --h6-font-size: 1.5rem;
  --text-2xl: clamp(3.125rem, 4.66vw, 4.25rem);
}

@utility bg-mivida-white {
  background-color: var(--mivida-white);
}
@utility bg-mivida-cream-white {
  background-color: var(--mivida-cream-white);
}
@utility bg-mivida-black {
  background-color: var(--mivida-black);
}
@utility bg-mivida-red-100 {
  background-color: var(--mivida-red-100);
}
@utility bg-mivida-red-400 {
  background-color: var(--mivida-red-400);
}
@utility bg-mivida-red-300 {
  background-color: var(--mivida-red-300);
}
@utility bg-mivida-green {
  background-color: var(--mivida-green);
}
@utility bg-mivida-red {
  background-color: var(--mivida-red);
}
@utility bg-mivida-red-200 {
  background-color: var(--mivida-red-200);
}
@utility bg-mivida-green-100 {
  background-color: var(--mivida-green-100);
}
@utility bg-mivida-warm-cream {
  background-color: var(--mivida-warm-cream);
}

@utility bg-mivida-green-200 {
  background-color: var(--mivida-green-200);
}

@utility bg-mivida-green-300 {
  background-color: var(--mivida-green-300);
}
@utility bg-mivida-warm-grey {
  background-color: var(--mivida-warm-grey);
}

@utility bg-mivida-green-400 {
  background-color: var(--mivida-green-400);
}
@utility bg-mivida-dark-teal {
  background-color: var(--mivida-dark-teal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-recoleta);
}
@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 5px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: var(--mivida-red-100); /* gray-400 */
    border-radius: 9999px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
}

@layer base {
  h1 {
    font-size: var(--h1-font-size);
    line-height: 1.01;
    margin-bottom: 1.875rem;
    color: var(--mivida-white);
  }
  h1 span {
    color: var(--mivida-red-400);
  }
  h2 {
    font-size: var(--h2-font-size);
    line-height: 1.1;
  }
  h2 span {
    color: var(--mivida-red-400);
  }

  h3 {
    font-size: var(--h3-font-size);
    line-height: 1.1;
  }
  h3 span {
    color: var(--mivida-red-400);
  }

  h4 {
    font-size: var(--h4-font-size);
    line-height: 1.1;
  }
  h4 span {
    color: var(--mivida-red-400);
  }
  h5 {
    font-size: var(--h5-font-size);
    line-height: 1.1;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }
  h5 span {
    color: var(--mivida-red-400);
  }
  h6 {
    font-size: var(--h6-font-size);
    line-height: 1.1;
  }
  h6 span {
    color: var(--mivida-red-400);
  }
  h5:last-child {
    margin: 0;
  }

  p {
    font-size: 1rem;
    line-height: 1.4;
    color: var(--mivida-white);
    font-family: var(--font-karla);
  }
  p:last-child {
    @apply !mb-0;
  }
  h5 span {
    color: var(--mivida-red-400);
  }
}

.l-container {
  @apply mx-auto max-w-305 px-6.25;
}

.l-container-narrow {
  @apply mx-auto max-w-304.5  px-6.25;
}

.l-container-inner {
  @apply mx-auto max-w-227.5 max-md:max-w-[85%] max-sm:max-w-[100%] px-5 relative z-2;
}

.l-container-wide {
  @apply mx-auto max-w-352.75;
}

.l-container-footer {
  @apply mx-auto max-w-349.5 px-6.25 max-sm:px-4;
}

.l-container-header {
  @apply mx-auto max-w-302.75 px-3.25 sm:px-10 py-4;
}

.scrollLock {
  @apply overflow-hidden;
}
.l-flex {
  @apply flex items-center justify-between;
}
.u-transistion-linear {
  @apply transition-all duration-300 ease-linear;
}
/* .u-title {
  @apply text-2xl;
} */
.u-title {
  @apply text-2xl;
}

.u-m-title {
  @apply font-[var(--font-recoleta)]
         text-[var(--h2-font-size)]
         leading-[1.01]
         mb-[30px]
         text-[var(--mivida-black)];
}

/* header-css */
.c-no-announcement-bar .c-site-header {
  @apply fixed top-10 max-sm:top-7.5;
}
.c-no-announcement-bar .c-site-header.fixed {
  @apply top-0;
}
.c-site-header {
  @apply fixed top-30 left-[50%] z-[9999] translate-x-[-50%]  w-[calc(100%-60px)] transition-all duration-300 ease-linear  max-w-303 rounded-2xl;
}
.c-site-header {
  @apply max-sm:top-24.5;
}
.c-site-header::before {
  @apply absolute top-0 left-0 backdrop-blur-[1.875rem] w-full h-full  max-lg:content-[''] -z-1 rounded-2xl;
}

.c-site-header.fixed {
  @apply top-0  w-full max-w-full rounded-none lg:backdrop-blur-[1.875rem];
}
.fixed.c-site-header::before {
  @apply rounded-none;
}

.c-site-header.c-header-theme {
  @apply bg-mivida-warm-cream;
}
.c-header-logo {
  @apply max-w-23;
}
.c-header-menu-wrapper {
  @apply flex items-center gap-5 lg:gap-6 xl:gap-8;
}
.c-header-menu {
  @apply flex items-center lg:gap-7.5 xl:gap-12;
}
.c-header-menu-wrapper {
  @apply max-lg:flex 
           max-lg:flex-col 
           max-lg:absolute 
           max-lg:top-[calc(100%+20px)] 
           max-lg:left-0 
           max-lg:w-full 
           max-lg:h-auto 
           max-lg:bg-mivida-warm-cream 
           max-lg:backdrop-blur-[1.875rem]
           max-lg:rounded-2xl max-lg:p-10;
}

.c-site-header.fixed .c-header-menu-wrapper {
  @apply max-lg:top-[100%] max-lg:rounded-none;
}

.c-header-menu-wrapper .c-header-menu {
  @apply max-lg:flex max-lg:flex-col max-lg:gap-5;
}
.c-header-menu li a {
  @apply text-(--mivida-black) text-[1rem] font-normal leading-[1.4] hover:text-[var(--mivida-red-400)] transition-all duration-300 ease-linear;
}
.c-site-header .c-btn-wrap {
  @apply flex items-center gap-4 max-lg:flex-col max-lg:gap-5;
}
.c-menu-btn {
  @apply lg:hidden relative h-9 w-8.5 flex items-center justify-center cursor-pointer;
}
.c-menu-line {
  @apply absolute top-3 h-0.25 w-3 sm:w-5 bg-mivida-red-400 transition-all duration-300;
}
.c-menu-line:nth-of-type(2) {
  @apply absolute top-4 h-0.25 w-3 sm:w-5 bg-mivida-red-400 transition-all duration-300;
}
.c-menu-line:nth-of-type(3) {
  @apply absolute top-5 h-0.25 w-3 sm:w-5 bg-mivida-red-400 transition-all duration-300;
}
.c-menu-btn.toggled span:first-child {
  @apply max-lg:rotate-[45deg] max-lg:translate-x-[0px] max-lg:translate-y-[3px];
}
.c-menu-btn.toggled span:nth-of-type(2) {
  @apply max-lg:opacity-0;
}
.c-menu-btn.toggled span:nth-of-type(3) {
  @apply max-lg:rotate-[-45deg] max-lg:translate-x-[0px] max-lg:translate-y-[-5px];
}
nav {
  @apply max-lg:max-h-0 
         max-lg:overflow-hidden 
         max-lg:opacity-0 
         max-lg:invisible
         max-lg:transition-[max-height,opacity,visibility]
         max-lg:duration-[350ms]
         max-lg:ease-in-out;
  transition-delay: 0s, 0s, 350ms;
}
nav.open {
  @apply max-lg:max-h-[80vh] 
         max-lg:opacity-100 
         max-lg:visible
         max-lg:transition-[max-height,opacity,visibility]
         max-lg:duration-[350ms]
         max-lg:ease-in-out;
  transition-delay: 0s, 0s, 0s;
}

/* accouncement-bar */
.c-announcement-bar {
  @apply bg-mivida-red-400 mb-11 max-sm:mb-3.5;
}
.c-announcement-bar-text {
  @apply text-center py-3.5 text-[0.875rem] sm:text-[1rem];
}
/* banner-bg */

.c-section-hero-banner {
  @apply relative overflow-hidden rounded-2xl sm:mb-11 mt-4 mb-0 mx-3.5 z-[2];
}
.c-banner-content-wrapper {
  @apply relative z-[2] sm:h-[100vh] min-h-125 max-sm:min-h-[100vh]   flex flex-col justify-end;
}
.c-banner-content-wrapper.c-inner-banner-compact {
  @apply h-auto min-h-140 max-sm:min-h-117;
}
.c-banner-content-wrapper.c-banner-content-center {
  @apply justify-center max-sm:justify-start pt-24;
}
.c-banner-content-box {
  @apply py-18.5 md:max-w-[80%] xl:max-w-[76.72%] max-w-full;
}
.c-banner-content-center .c-banner-content-box {
  @apply text-center mx-auto py-15;
}

.c-banner-content-center .c-banner-content-box .c-banner-desc {
  @apply max-w-full mx-auto;
}
.c-banner-content-box .c-tag-with-inline-list-wrap {
  @apply justify-center;
}
.c-banner-content-box .c-tag-with-inline-list-wrap .c-tag {
  @apply bg-mivida-red text-(--mivida-white);
}
.c-banner-content-box .c-tag-with-inline-list-wrap .c-ineline-list span {
  @apply text-(--mivida-white) after:bg-mivida-white;
}
.c-banner-content-box h1 {
  @apply mb-3.5;
}
.c-banner-desc {
  @apply max-w-[64.72%] max-md:max-w-[80%] max-sm:max-w-full mb-4;
}
.c-media-bg {
  @apply absolute inset-0 w-full h-full object-cover;
}

.c-media-overlay {
  @apply before:content-[''] before:absolute before:inset-0 before:bg-black/50;
}

/* rich-text-css */

.c-rich-text-sec {
  @apply py-21 md:py-20 relative;
}

.c-ab-shape {
  @apply absolute top-0 left-0 w-full h-full;
}
.c-reverse {
  @apply md:flex-row-reverse;
}
/* img-with-text-css */
.c-img-with-text-sec {
  @apply relative z-[2] overflow-x-hidden;
}
.c-card-split {
  @apply flex flex-col md:flex-row justify-between gap-7.5 items-center sm:py-9 max-sm:pb-15;
}
.c-card-split.row-reverse {
  @apply md:flex-row-reverse;
}
.c-card-split-media {
  @apply rounded-2xl overflow-hidden w-[48.72%] max-md:w-[100%];
}
.c-card-split-media img {
  @apply w-full h-full object-cover;
}
.c-card-split-content {
  @apply w-[42.65%] max-md:w-[100%] relative z-[9];
}
.c-tag-with-inline-list-wrap {
  @apply flex flex-wrap gap-3.5 items-center mb-7.5;
}
.c-tag-with-inline-list-wrap .c-ineline-list {
  @apply m-0;
}
.c-tag-with-inline-list-wrap .c-ineline-list span {
  @apply text-[1rem] leading-[1.4] text-(--mivida-black) pl-8  after:bg-mivida-black after:left-3.5;
}
.c-card-split-content .c-ineline-list span:first-child {
  @apply pl-0;
}
.c-tag {
  @apply bg-mivida-red-200 text-(--mivida-black) px-4 py-1 rounded-full text-[1rem] leading-[1.4] block;
}
.c-card-split-content h3 {
  @apply mb-7.5 text-[var(--mivida-black)];
}
.c-card-split-content p {
  @apply mb-7.5 text-[var(--mivida-black)];
}
.c-card-split-content .c-btn-wrapper {
  @apply mt-15;
}

/* card-banner-css */
.c-card-banner-sec {
  @apply sm:mx-3.5 mx-6 max-sm:mb-15 sm:my-7.5;
}
.c-card-banner {
  @apply relative flex max-md:flex-col-reverse  overflow-hidden rounded-2xl bg-mivida-red-400 md:min-h-172.5;
}

.c-card-banner-content {
  @apply py-10 px-6 sm:px-10 lg:px-17.5 flex flex-col justify-center w-full md:w-[50%] relative z-2;
}
.c-card-banner-inner-box {
  @apply md:max-w-128 md:ml-auto;
}

.c-card-banner-content h2 {
  @apply text-(--mivida-red-100) mb-7.5;
}

.c-card-banner-content p {
  @apply mb-5 text-[1.125rem] leading-[1.4] text-(--mivida-red-100);
}
.c-card-banner-content p:last-child {
  @apply mb-0;
}
.c-card-banner-media {
  @apply relative overflow-hidden w-full md:w-[50%];
}
.c-card-banner-media img {
  @apply w-full h-full object-cover;
}

.c-banner-team-card {
  @apply relative z-2 overflow-hidden w-full md:w-[50%] flex justify-center items-center max-md:pt-10 max-md:px-6 max-sm:pb-1;
}
.c-banner-team-card .c-team-card {
  @apply w-67.5 max-sm:max-w-[100%] max-sm:grow-0 min-h-105.5  rounded-2xl flex flex-col overflow-hidden border border-(--mivida-web-grey) bg-mivida-cream-white lg:ml-27;
}
.c-banner-team-card .c-team-media {
  @apply w-full h-59;
}
.c-banner-team-card .c-team-media img {
  @apply w-full h-full object-cover object-top;
}
.c-banner-team-card .c-team-content {
  @apply relative pt-7 pl-5 pb-5.5 pr-4  flex flex-col sm:justify-between grow-1;
}
.c-banner-team-card .c-team-top-content h6 {
  @apply text-(--mivida-green) mb-2.5 font-karla font-bold;
}
.c-banner-team-card .c-team-top-content p {
  @apply text-(--mivida-green) mb-2.5;
}
.c-banner-team-card .c-bottom-content {
  @apply max-w-47.5 mb-0;
}
.c-banner-team-card .c-bottom-content .c-tag {
  @apply bg-mivida-green-200 text-(--mivida-green) py-1 px-4 rounded-[3.125rem] w-fit mb-1 text-[0.75rem]  block;
}
.c-banner-team-card .c-team-content .c-btn {
  @apply bottom-4.5 right-4  absolute ml-auto;
}

/* COMPACT */
.c-cta-section {
  @apply flex bg-mivida-red  my-7.5 max-sm:mb-12 mx-6 sm:mx-3.75 py-14 sm:py-28.5 min-h-135 relative overflow-hidden rounded-2xl;
}
.c-cta-section.c-cta-section-layout-2 {
  @apply bg-mivida-green;
}
.c-cta-section .l-container-inner {
  @apply flex flex-col justify-center;
}
.c-cta-section h2 {
  @apply text-[clamp(50px,4.66vw,68px)] text-[var(--mivida-cream-white)] leading-[1.10] mb-10;
}
.c-cta-section p {
  @apply text-[1.125rem] leading-[1.4] text-[var(--mivida-cream-white)] max-w-150 mx-auto;
}
.c-cta-section .c-btn-wrap {
  @apply mt-10 flex justify-center w-full;
}
.c-cta-section.c-cta-section-layout-2 .c-secondary-btn {
  @apply text-(--mivida-green);
}
.c-cta-section.c-cta-section-layout-2 .c-secondary-btn:hover {
  @apply text-(--mivida-white) bg-mivida-red-400;
}
.c-cta-section-layout-2 .c-secondary-btn svg path {
  @apply fill-(--mivida-green);
}

/* btn-css-code */
.c-btn-wrapper {
  @apply w-fit;
}
.c-btn-center {
  @apply flex justify-center gap-7.5 max-sm:gap-5 max-sm:flex-wrap;
}
.c-section-hero-banner .c-btn-center a {
  @apply max-sm:min-w-37.75;
}
.c-primary-btn {
  @apply flex items-center justify-center gap-2.5 px-5 py-5 rounded-lg bg-mivida-red-400 min-w-46.5 text-[1rem] text-[var(--mivida-white)] font-[var(--font-karla)] leading-[1.1] font-medium w-fit  transition-all duration-300 ease-out;
}
.c-primary-btn:hover {
  @apply bg-mivida-green;
}

.c-secondary-btn {
  @apply cursor-pointer flex items-center justify-center gap-2.5 px-5 py-5 rounded-lg  bg-mivida-white min-w-46.5 text-[1rem]  text-[var(--mivida-red-400)] font-[var(--font-karla)] leading-[1.1] font-medium w-fit  transition-all duration-300 ease-out;
}
.c-secondary-btn:hover {
  @apply bg-mivida-green text-[var(--mivida-white)];
}
.c-secondary-btn svg path {
  @apply fill-(--mivida-red-400) transition-all duration-300 ease-out;
}
.c-secondary-btn:hover svg path {
  @apply fill-(--mivida-white);
}

.c-secondary-btn.c-green-bg:hover {
  @apply bg-mivida-red-400;
}

.c-tertiary-btn {
  @apply flex items-center justify-center gap-2.5 px-5 py-5 rounded-lg bg-mivida-green-200 min-w-46.5 text-[1rem] text-(--mivida-green) font-[var(--font-karla)] leading-[1.1] font-medium w-fit  transition-all duration-300 ease-out;
}
.c-tertiary-btn svg {
  @apply w-auto h-auto;
}
.c-tertiary-btn svg path {
  @apply fill-(--mivida-green);
}
.c-tertiary-btn:hover {
  @apply bg-mivida-white;
}

.c-tertiary-btn.c-btn-size {
  @apply p-5;
}
.c-transparent-btn {
  @apply flex items-center justify-center gap-2.5 px-5 py-5 rounded-lg bg-transparent border-[1px] border-[var(--mivida-black)] min-w-46.5 text-[1rem]  text-[var(--mivida-black)] font-[var(--font-karla)] leading-[1.1] font-medium w-fit  transition-all duration-300 ease-out;
}
.c-transparent-btn:hover {
  @apply bg-mivida-green text-(--mivida-white) border-transparent;
}
.c-transparent-btn svg path {
  @apply fill-(--mivida-black) transition-all duration-300 ease-out;
}
.c-transparent-btn:hover svg path {
  @apply fill-(--mivida-white);
}
.c-transparent-btn.white-border {
  @apply border-[var(--mivida-white)] text-[var(--mivida-white)];
}
.c-transparent-btn.white-border:hover {
  @apply border-transparent;
}
.c-transparent-btn.white-border svg path {
  @apply fill-(--mivida-white);
}
.c-btn-size {
  @apply min-w-32.75 px-3.75 py-3 rounded;
}

/* form-btn */
.c-form-primay-btn {
  @apply flex items-center justify-center gap-2.5 px-5 py-5 rounded-lg  bg-mivida-white min-w-46.5 text-[1rem]  text-(--mivida-green) font-karla leading-[1.1] font-medium w-fit  transition-all duration-300 ease-out;
}
.c-form-primay-btn:hover {
  @apply bg-mivida-red-400 text-(--mivida-white);
}
.c-form-primay-btn img {
  @apply transition-all duration-300 ease-out;
}
.c-form-primay-btn:hover img {
  @apply brightness-0 invert-100;
}

/* sliderbtn-css-code */

.c-swiper-btn-wrapper {
  @apply flex justify-center gap-2.5;
}
.c-swiper-btn-wrapper .c-primary-slider-btn {
  @apply static;
}
.c-primary-slider-btn {
  @apply flex items-center justify-center w-10 h-10 rounded-md bg-mivida-green  m-0 transition-all duration-300 ease-out;
}
.c-primary-slider-btn:hover {
  @apply bg-mivida-red-400;
}
.c-primary-slider-btn::after {
  @apply content-none;
}
.c-primary-slider-btn svg,
.c-secondary-slider-btn svg {
  @apply w-auto h-auto;
}
.c-swiper-btn-wrapper .c-secondary-slider-btn {
  @apply static;
}
.c-secondary-slider-btn {
  @apply flex items-center justify-center w-10 h-10 rounded-md bg-mivida-red-400  m-0 transition-all duration-300 ease-out;
}
.c-secondary-slider-btn:hover {
  @apply bg-mivida-green;
}
.c-secondary-slider-btn::after {
  @apply content-none;
}

.c-tertiary-btn.swiper-button-next {
  @apply static m-0 after:content-none;
}
/* footer-links-css */

.c-footer-menu-wrapper {
  @apply w-full md:w-[52%] lg:w-[39%] flex justify-between gap-14 sm:gap-7.5 flex-wrap pr-9 sm:pr-0;
}
.c-footer-logo {
  @apply max-w-[32.75] mb-5;
}
.c-site-footer .c-btn-wrap {
  @apply flex flex-wrap gap-2.5 mb-5 sm:mb-8.5;
}
.c-menu-col {
  @apply w-fit text-(--mivida-white);
}
.c-footer-menu-heading {
  @apply mb-2.5 font-bold leading-[1.18];
}
.c-footer-links a {
  @apply text-[0.875rem] font-normal text-(--mivida-white) leading-[1.3] block mb-2.5 transition-all duration-300 ease-out hover:text-(--mivida-red-400);
}
.c-social-links {
  @apply w-full sm:w-fit;
}
.c-social-links a {
  @apply flex items-center justify-center w-12.5 h-12.5 rounded bg-mivida-red-400 hover:bg-mivida-green transition-all duration-300 ease-out;
}

.c-connect-links a {
  @apply font-recoleta text-[1.3125rem] font-normal text-(--mivida-white) leading-[1.1] block mb-1 transition-all duration-300 ease-out w-fit;
}
.c-connect-links a:hover {
  @apply text-(--mivida-red-400);
}

/* c-testimonial-sec-css */
.c-testimonial-sec {
  @apply mb-15 sm:mt-10.5 mx-6 sm:mx-3.75;
}

.c-testimonial-sec .c-border-color-layout {
  @apply border-(--mivida-green) border rounded-2xl;
}
.c-testimonial-sec .c-testimonial-wrapper {
  @apply min-h-87.5 lg:min-h-117.75 px-5 sm:px-10 pt-10 sm:pt-9.5 pb-10 sm:pb-13.5 flex flex-col justify-between;
}
.c-testimonial-sec.c-color-layout-2 .c-border-color-layout {
  @apply border-(--mivida-red-400);
}
.c-testimonial-sec .swiper::before {
  @apply !bg-transparent;
}
.c-testimonial-slider.swiper {
  @apply max-w-[77.2%] max-md:max-w-full mx-auto sm:pt-17 sm:pb-9.5;
}
.c-testimonial-sec .swiper {
  @apply before:content-[''] before:absolute before:left-[50%] before:top-[50%] before:-translate-x-1/2 before:-translate-y-1/2 before:bg-black/50 before:bg-[url('./images/quote.png')] before:bg-no-repeat before:bg-center before:bg-[contain] before:w-full before:h-full bg-transparent;
}
.c-testimonial-sec.c-color-layout-2 .c-border-color-layout .swiper {
  @apply before:bg-[url('./images/quote-light-red.png')];
}
.c-testimonial-sec .swiper-slide {
  @apply h-auto flex flex-col justify-center;
}

.c-testimonial-sec h3 {
  @apply text-(--mivida-green) mb-5.5;
}
.c-testimonial-sec.c-color-layout-2 h3 {
  @apply text-(--mivida-red-400);
}
.c-author-name {
  @apply text-(--mivida-black) uppercase tracking-[2.85px] leading-[1.10] text-[0.875rem] font-bold font-karla;
}

/* multi-color-card-slider */
.c-heading-btn-wrap {
  @apply flex justify-between gap-7.5 mb-11.5 max-sm:mb-7.5 flex-wrap;
}
.c-card-slider-sec {
  @apply h-153;
}
.c-slider-card {
  @apply flex flex-wrap max-sm:flex-col w-137 sm:h-74.5 rounded-2xl overflow-hidden bg-mivida-green-200;
}
.c-slider-media {
  @apply w-50.5 max-sm:w-full max-sm:h-68.5;
}
.c-slider-media img {
  @apply object-cover w-full h-full;
}
.c-slider-card .c-slider-content {
  @apply px-5 py-5.5  max-sm:pb-12.5 w-[30%] max-sm:w-full  grow-1 relative;
}
.c-tag-wrapper {
  @apply flex gap-2.75 mb-5;
}
.c-slider-card .c-tag {
  @apply bg-mivida-green-100 text-(--mivida-green) py-1 px-4 rounded-[3.125rem] w-fit before:hidden;
}
.c-slider-card span {
  @apply text-(--mivida-green) font-[var(--font-karla)] font-normal relative block;
}
.c-slider-card span:not(:first-child)::before {
  @apply content-[''] absolute  top-1/2 -left-4.5 -translate-y-1/2 w-1.5 h-1.5 rounded-full bg-mivida-green;
}
.c-slider-card h4 {
  @apply font-normal text-(--mivida-green) mb-3.5;
}
.c-slider-card p {
  @apply font-normal text-(--mivida-green) mb-3.5 max-w-100;
}
.c-btn {
  @apply flex items-center justify-center w-10 h-10 rounded-md bg-mivida-green absolute right-3 bottom-4 max-sm:bottom-5 max-sm:right-4  transition-all duration-300 ease-out;
}
.c-btn:hover {
  @apply bg-mivida-red-400;
}
.c-btn svg {
  @apply -rotate-45;
}
.c-slider-card.c-green-layout {
  @apply bg-mivida-green;
}
.c-slider-card.c-green-layout .c-tag {
  @apply bg-mivida-green-300 text-(--mivida-green);
}
.c-slider-card.c-green-layout span {
  @apply text-(--mivida-green-100);
}
.c-slider-card.c-green-layout span:not(:first-child)::before {
  @apply bg-mivida-green-100;
}
.c-slider-card.c-green-layout h4 {
  @apply text-(--mivida-green-100);
}
.c-slider-card.c-green-layout p {
  @apply text-(--mivida-green-100);
}
.c-slider-card.c-green-layout .c-btn {
  @apply bg-mivida-green-400;
}
.c-slider-card.c-green-layout .c-btn:hover {
  @apply bg-mivida-red-400;
}
.c-slider-card.c-red400-layout {
  @apply bg-mivida-red-300;
}
.c-slider-card.c-red400-layout .c-tag {
  @apply bg-(--mivida-red-200) text-(--mivida-red-400);
}
.c-slider-card.c-red400-layout span {
  @apply text-(--mivida-white);
}
.c-slider-card.c-red400-layout span:not(:first-child)::before {
  @apply bg-mivida-white;
}
.c-slider-card.c-red400-layout h4 {
  @apply text-(--mivida-white);
}
.c-slider-card.c-red400-layout p {
  @apply text-(--mivida-white);
}
.c-slider-card.c-red400-layout .c-btn {
  @apply bg-mivida-red-400;
}
.c-slider-card.c-red400-layout .c-btn:hover {
  @apply bg-mivida-green;
}
.c-slider-card.c-red200-layout {
  @apply bg-(--mivida-red-200);
}
.c-slider-card.c-red100-layout {
  @apply bg-(--mivida-red-100);
}
.c-slider-card.c-red200-layout .c-tag,
.c-slider-card.c-red100-layout .c-tag {
  @apply bg-mivida-red-300 text-(--mivida-red-100);
}
.c-slider-card.c-red200-layout span,
.c-slider-card.c-red100-layout span {
  @apply text-(--mivida-red-400);
}
.c-slider-card.c-red200-layout span:not(:first-child)::before,
.c-slider-card.c-red100-layout span:not(:first-child)::before {
  @apply bg-mivida-red-400;
}
.c-slider-card.c-red200-layout h4,
.c-slider-card.c-red100-layout h4 {
  @apply text-(--mivida-red);
}
.c-slider-card.c-red200-layout p,
.c-slider-card.c-red100-layout p {
  @apply text-(--mivida-red-400);
}
.c-slider-card.c-red200-layout .c-btn,
.c-slider-card.c-red100-layout .c-btn {
  @apply bg-mivida-red-400;
}
.c-slider-card.c-red200-layout .c-btn:hover,
.c-slider-card.c-red100-layout .c-btn:hover {
  @apply bg-mivida-green;
}
/* horizontal-toverticall */

.c-article-grid-equal {
  @apply mb-7.5 max-md:mb-10;
}
.c-vertical-card-slider {
  @apply max-lg:-mr-6 max-lg:-ml-6 max-lg:px-6 max-lg:w-[calc(100%+50px)];
}
.c-vertical-card-slider .swiper-wrapper {
  @apply lg:grid lg:gap-7.5 lg:grid-cols-3;
}
.c-vertical-card-slider .c-slider-card.c-silde-vertical-card {
  @apply w-92.5 lg:w-full  min-h-153 !my-0 !h-auto;
}
.c-slider-card.c-silde-vertical-card {
  @apply sm:w-88 !h-full flex-col;
}
.c-slider-card.c-silde-vertical-card .c-slider-media {
  @apply sm:w-full sm:h-74.5;
}
.c-slider-card.c-silde-vertical-card .c-slider-content {
  @apply sm:w-full;
}

.c-article-grid-editorial-sec .c-swiper-btn-wrapper,
.c-article-grid-equal .c-swiper-btn-wrapper {
  @apply lg:hidden;
}

.swiper-slide.c-slider-card {
  @apply !mt-0 !mb-auto;
}

.c-article-grid-editorial-sec {
  @apply mt-7.5 max-md:mt-0 mb-21 max-md:mb-8.5;
}
.c-article-grid-editorial-slider {
  @apply max-lg:-mr-6 max-lg:-ml-6 max-lg:px-6 max-lg:w-[calc(100%+50px)];
}
.c-article-grid-editorial-slider .swiper-wrapper {
  @apply lg:grid lg:grid-cols-12 lg:gap-7.5;
}
.c-article-grid-editorial-slider .c-slider-card {
  @apply lg:min-h-62.25 max-lg:min-h-153 h-auto lg:w-full lg:col-span-7  max-lg:flex-col max-lg:w-92.5 !my-0;
}
.c-article-grid-editorial-slider .c-slider-card .c-slider-media {
  @apply max-lg:w-full max-lg:h-74.5;
}
.c-article-grid-editorial-slider .c-slider-card .c-slider-content {
  @apply max-lg:w-full;
}
.c-article-grid-editorial-slider .c-slider-card.c-silde-vertical-card {
  @apply lg:w-full lg:col-span-5 lg:row-span-2;
}
/* multi-color-card-slider-end */

/* site-footer css */
.c-site-footer {
  @apply bg-mivida-black pt-11.5 pb-9 sm:pb-5.75 mt-4;
}

/* sticky card css */
.c-card-sticky-sec {
  @apply relative;
}
.c-sticky-heading-wrapper {
  @apply sticky top-22 w-[42.75%] max-md:w-[85%] max-sm:w-[100%] py-45.5 max-md:py-20 max-sm:pt-7.5 max-sm:pb-9.5 max-md:static;
}
.c-card-sticky-sec {
  @apply mb-7.5 max-md:mb-0;
}

.c-sticky-card-wrapper {
  @apply w-[48.72%]  max-md:w-full;
}
.c-sticky-card-wrapper .c-sticky-card {
  @apply w-full sticky top-22 bg-mivida-cream-white py-12.5 max-md:static max-md:pt-0 max-md:pb-15;
}
.c-sticky-card-wrapper .c-sticky-card-media {
  @apply w-full mb-7.5;
}
.c-sticky-card-wrapper .c-sticky-card-media img {
  @apply w-full;
}
.c-sticky-card-wrapper h6 {
  @apply text-[1.5rem] font-normal leading-[1.4] text-(--mivida-black) mb-4;
}
.c-sticky-card-wrapper p {
  @apply text-(--mivida-black);
}

/* normal card css */
.c-heading-with-cards {
  @apply mt-15 mb-15;
}
.l-grid {
  @apply grid gap-7 grid-cols-2 max-md:grid-cols-1;
}
.c-noraml-card {
  @apply rounded-2xl overflow-hidden flex flex-col;
}
.c-noraml-card .c-card-media {
  @apply w-full;
}
.c-noraml-card .c-card-content {
  @apply p-7.5 max-sm:pr-6 border border-(--mivida-warm-grey) border-t-0 rounded-2xl rounded-tl-none rounded-tr-none flex flex-col grow-1;
}
.c-noraml-card .c-card-content h4 {
  @apply max-lg:text-[1.75rem];
}
.c-noraml-card p {
  @apply text-(--mivida-black) mb-auto;
}
.c-noraml-card .c-btn-wrap {
  @apply mt-9 max-md:mt-7.5;
}

/* step-proces-sec */
/* .touch-viewport-left {
  @apply [max-width:1440px]:!ml-0;
} */
.c-step-slider-sec {
  @apply mt-15 mb-22.5 max-sm:mb-8.5 overflow-x-hidden;
}
.c-step-topHeading {
  @apply sm:max-w-226.5 mb-7.5 pr-33 max-md:pr-15 max-sm:pr-6;
}
.c-step-slider.swiper {
  @apply max-sm:w-[calc(100%+25px)]   max-md:pr-6.25;
}
.c-step-slide {
  @apply flex  flex-nowrap bg-mivida-green-400 rounded-2xl overflow-hidden max-md:flex-col-reverse h-auto;
}
.c-step-slider-bg-layout-2 .c-step-slide {
  @apply bg-mivida-red-400;
}
.c-step-slider-bg-layout-2 .c-step-slide.swiper-slide-active {
  @apply bg-mivida-red-400;
}
.c-step-slide.swiper-slide-active {
  @apply bg-mivida-green;
}
.c-step-slide-content {
  @apply flex items-center h-auto  w-[30%] grow-[1] p-10 max-md:w-[100%] max-sm:pt-10 max-sm:pb-12 max-sm:pl-3 max-sm:pr-4;
}
.c-step-slide-media {
  @apply w-[42.08%] max-md:w-[100%];
}

.c-step-slide-media img {
  @apply w-full h-full object-cover object-left;
}
.c-step-slide-count.u-title {
  @apply mb-0 text-(--mivida-white) font-recoleta mt-10.5 max-sm:text-[4.1875rem];
}
.c-step-slider-bg-layout-2 .c-step-slide-count.u-title {
  @apply text-(--mivida-cream-white);
}
.c-step-slide-content-inner {
  @apply w-[88.83%];
}
.c-step-slide-tag {
  @apply bg-mivida-green-400 text-(--mivida-red-100) py-1 px-4 rounded-[3.125rem] w-fit mb-7.5 text-[0.875rem] font-karla;
}
.c-step-slider-bg-layout-2 .c-step-slide-tag {
  @apply bg-mivida-red-100 text-(--mivida-red-400);
}
.c-step-slide-desc {
  @apply text-[1.125rem] text-(--mivida-red-100) mt-7.5;
}
.c-step-slider-bg-layout-2 .c-tertiary-btn {
  @apply bg-mivida-white text-(--mivida-red-400) hover:bg-mivida-green hover:text-(--mivida-white);
}
.c-step-slider-bg-layout-2 .c-tertiary-btn svg path {
  @apply fill-(--mivida-red-400);
}
.c-step-slider-bg-layout-2 .c-tertiary-btn:hover svg path {
  @apply fill-(--mivida-white);
}
.c-commitments-sec {
  @apply mt-15 mb-30 max-sm:mt-6 max-lg:mb-12;
}

.c-commitment-card-wrapper {
  @apply mt-22.5 max-lg:mt-15 max-sm:mt-7.5  max-lg:-mr-6 max-lg:-ml-6 max-lg:px-6  max-lg:w-[calc(100%+50px)];
}
.c-commitment-card-wrapper .swiper-wrapper {
  @apply lg:grid lg:gap-7.5 lg:grid-cols-3;
}
.c-commitment-card {
  @apply max-lg:w-93 max-sm:w-79 min-h-146 p-7.5 pt-34 max-sm:pt-15 relative rounded-2xl overflow-hidden bg-mivida-green text-center;
}
.c-commitment-card h6 {
  @apply text-[1.5rem] text-(--mivida-white) leading-[1.4] mb-4;
}
.c-commitment-card p {
  @apply text-(--mivida-white) mb-4 font-normal;
}
.c-commitment-card a {
  @apply inline-flex items-center gap-2.5 justify-center mx-auto text-(--mivida-white) text-[0.875rem] leading-[1.10] transition-all duration-300 ease-linear;
}
.c-commitment-card a svg path {
  @apply transition-all duration-300 ease-linear;
}
.c-commitment-card a:hover {
  @apply text-(--mivida-black);
}
.c-commitment-card a:hover svg path {
  @apply fill-(--mivida-black);
}
.c-commitment-card.c-color-layout-2 {
  @apply bg-mivida-green-400;
}
.c-commitment-card.c-color-layout-3 {
  @apply bg-mivida-green-200;
}
.c-commitment-card.c-color-layout-3 h6 {
  @apply text-(--mivida-green);
}
.c-commitment-card.c-color-layout-3 p {
  @apply text-(--mivida-green);
}
.c-commitment-card.c-color-layout-3 a {
  @apply text-(--mivida-green);
}
.c-commitment-card.c-color-layout-3 svg path {
  @apply fill-(--mivida-green);
}
.c-commitment-card.c-color-layout-3 a:hover {
  @apply text-(--mivida-black);
}
.c-commitment-card.c-color-layout-3 a:hover svg path {
  @apply fill-(--mivida-black);
}
.c-commitments-sec .c-swiper-btn-wrapper {
  @apply lg:hidden;
}

.c-values-slider-sec {
  @apply relative z-2 mx-3.5 max-md:mx-5 my-7.5 bg-mivida-green-200 rounded-3xl pt-15.5  pb-30.5 max-md:pb-15 max-sm:pb-9.5;
}
.c-values-slider-title {
  @apply max-w-192.5 mx-auto max-lg:max-w-full max-lg:px-25 max-md:px-15 max-sm:px-5;
}
.c-values-slider-title h3 {
  @apply text-(--mivida-green) mb-7.5 max-sm:mb-5;
}
.c-values-slider-title p {
  @apply text-(--mivida-green) mb-7.5;
}
.c-values-slider {
  @apply mt-11.5 max-md:mt-7.5 max-w-191 max-lg:max-w-full max-lg:px-17.5 max-md:px-5;
}
.c-value-slide {
  @apply bg-mivida-cream-white flex max-md:flex-col-reverse rounded-2xl overflow-hidden h-auto min-h-93.5;
}
.c-value-slide-media {
  @apply w-70.5 max-md:w-full;
}
.c-value-slide-media img {
  @apply w-full h-full object-cover object-left;
}
.c-value-slide-content {
  @apply py-10.5  max-sm:py-7.5  px-12 max-sm:px-5 w-[30%] grow-1 max-md:w-full flex flex-col justify-center;
}
.c-value-slide-tag {
  @apply bg-mivida-green-400 text-(--mivida-red-100) py-1.25 px-4.75 rounded-[3.125rem] w-fit text-[0.875rem] font-karla;
}
.c-value-slide-dec {
  @apply text-(--mivida-green) text-[1.125rem] leading-[1.4];
}

.c-primary-slider-btn.c-btn-left-postion {
  @apply md:absolute max-md:static left-21 max-xl:left-10 max-lg:left-5 top-[50%] md:-translate-y-1/2;
}
.c-primary-slider-btn.c-btn-right-postion {
  @apply md:absolute max-md:static right-21 max-xl:right-10 max-lg:right-5 top-[50%] md:-translate-y-1/2;
}

/* team-profile-card */
.c-team-card-sec {
  @apply mt-31 mb-15 mx-4 max-sm:mt-28 max-sm:mt-25;
}
.c-filter-btn {
  @apply flex items-center justify-center gap-4 mt-19 max-sm:mt-15 flex-wrap max-sm:hidden max-sm:gap-x-2.5 max-sm:gap-y-5;
}
.c-filter-btn button {
  @apply py-1 px-5 text-(--mivida-green) font-karla bg-mivida-green-100 rounded-[50px] border border-(--mivida-green) text-[0.875rem] leading-[1.41] transition-all duration-300 ease-linear cursor-pointer;
}
.c-filter-btn button:hover,
.c-filter-btn button.active {
  @apply bg-mivida-green-400 border-(--mivida-green-400) text-(--mivida-red-100);
}

.c-filter-btn-with-searchbox .c-filter-btn {
  @apply m-0 w-[calc(100%-260px)] max-md:w-full justify-start max-lg:gap-4 max-md:justify-center flex max-sm:gap-x-2 max-sm:gap-y-5;
}
.c-filter-btn-with-searchbox .c-filter-btn button {
  @apply border-(--mivida-black) text-(--mivida-black) bg-transparent;
}
.c-filter-btn-with-searchbox .c-filter-btn button.active,
.c-filter-btn-with-searchbox .c-filter-btn button:hover {
  @apply bg-mivida-black text-(--mivida-white);
}
.c-filter-btn-with-searchbox {
  @apply mt-10.75 mb-7.5 max-sm:mt-7.5 max-sm:mb-8;
}
.c-filter-btn-with-searchbox-content {
  @apply max-sm:w-[calc(100%+26px)] max-sm:-mr-3.25 max-sm:-ml-3.25;
}
.c-search-wrap {
  @apply h-7.5;
}
.c-search-expand {
  @apply relative z-10 w-27.5 flex items-center gap-2.5 h-7.5 px-5 py-1.25
         rounded-full bg-mivida-green text-white
         transition-all duration-300 ease-in-out cursor-pointer;
}
.c-search-text {
  @apply text-white text-[0.875rem] font-karla leading-[1.14];
}

.c-search-box {
  @apply absolute inset-0 z-0 h-full px-12 rounded-full
         bg-mivida-green 
         opacity-0 pointer-events-none
         transition-all duration-300 ease-in-out;
}
.c-search-wrap .c-search-box .c-submit-btn {
  @apply absolute top-1/2 -translate-y-1/2 left-5 z-999 cursor-pointer;
}

.c-search-wrap svg {
  @apply w-3.25 h-3;
}

.c-search-wrap.active .c-search-expand {
  @apply w-[240px];
}
.c-search-wrap.active .c-search-text {
  @apply opacity-0;
}
.c-search-wrap.active .c-search-box {
  @apply opacity-100 pointer-events-auto z-99;
}
.c-search-wrap .c-search-box .c-search-input {
  @apply w-full h-full text-white text-[0.875rem] font-karla leading-[1.14] placeholder-white/60 w-full focus:outline-none opacity-100 h-full;
}

/* c-filter-content-active css */

.c-filter-content-wrapper {
  @apply mt-7.5 max-sm:mt-15;
}
.c-filter-content {
  @apply flex-wrap gap-7 max-sm:gap-3 max-sm:gap-y-8.5 mx-auto justify-center hidden;
}
.c-filter-content.active {
  @apply flex;
}
.c-team-card {
  @apply sm:w-67.5 max-sm:max-w-[80%] max-sm:w-44 max-sm:grow-1 min-h-105.5 max-sm:min-h-85.5 rounded-2xl flex flex-col overflow-hidden border border-(--mivida-web-grey);
}
.c-team-media {
  @apply w-full h-59 max-sm:h-37;
}
.c-team-media img {
  @apply w-full h-full object-cover object-top;
}
.c-team-content {
  @apply relative pt-7 pl-5 pb-5.5 pr-4 max-sm:pt-5 max-sm:pl-3 max-sm:pb-2 max-sm:pr-1.5 flex flex-col sm:justify-between grow-1;
}
.c-team-top-content h6 {
  @apply text-(--mivida-green) mb-2.5 font-karla font-bold;
}
.c-team-top-content p {
  @apply text-(--mivida-green) mb-2.5;
}
.c-bottom-content {
  @apply max-w-47.5 max-sm:mt-auto max-sm:mb-2.5;
}
.c-bottom-content .c-tag {
  @apply bg-mivida-green-200 text-(--mivida-green) py-1 px-4 rounded-[3.125rem] w-fit mb-1 text-[0.75rem] max-sm:text-[0.625rem] block;
}
.c-team-content .c-btn {
  @apply bottom-4.5 right-4 max-sm:static inline-flex ml-auto;
}
.c-banner-img {
  @apply w-full rounded-2xl overflow-hidden my-10.5 max-sm:my-0;
}
.c-banner-img img {
  @apply w-full h-full object-cover;
}

.c-get-in-touch-sec {
  @apply mx-4 max-sm:mx-6.25 mb-7.5  mt-19 max-sm:mt-7.5;
}
.c-contant-content {
  @apply w-[34.41%]  max-lg:w-[77.2%] max-md:w-[100%] max-sm:w-full;
}
.c-contact-heading {
  @apply mt-6 max-lg:mt-0;
}
.c-contact-heading h2 {
  @apply text-(--mivida-green) mb-5;
}
.c-contact-heading p {
  @apply text-(--mivida-black) mb-5;
}
.c-enquries-content {
  @apply mt-12.5;
}
.c-enquries-content h4 {
  @apply mb-9  max-sm:text-[1.75rem];
}
.c-enquries-content a {
  @apply font-recoleta font-normal text-[1.75rem] max-sm:text-[1.375rem] leading-[1.3] text-(--mivida-black) transition-all duration-300 ease-linear hover:text-(--mivida-red-400)  block;
}
.c-contact-form {
  @apply w-[52.92%] max-lg:w-full bg-mivida-green rounded-[20px] pt-13 px-12.5 max-sm:px-4.5 pb-9 max-sm:pb-13.5;
}
.c-input-wrapper {
  @apply mb-4.5;
}
.c-input-wrapper input,
.c-input-wrapper textarea {
  @apply bg-mivida-white rounded-2xl py-4.75 px-10 text-[1rem] leading-[1.4] font-karla font-normal text-(--mivida-black) w-full;
}
.c-input-wrapper input:focus,
.c-input-wrapper textarea:focus {
  @apply outline-none;
}
.c-input-wrapper input::placeholder,
.c-input-wrapper textarea::placeholder {
  @apply text-(--mivida-warm-grey);
}
.c-check-box-wrapper {
  @apply my-7.25;
}
.c-check-box-heading {
  @apply font-normal text-[1.75rem] max-sm:text-[1.3125rem] leading-[1.10] text-(--mivida-white) mb-7;
}
.c-custom-checkbox {
  @apply flex items-center gap-3 cursor-pointer select-none;
}
.c-custom-checkbox span {
  @apply relative pl-10.5 text-[1rem] font-normal font-karla text-white leading-[1.4]

  before:absolute before:left-0 before:top-1/2
  before:h-7.5 before:w-7.5 before:-translate-y-1/2
  before:border before:border-white before:rounded-sm

  after:absolute after:left-2.5 after:top-1/3
  after:h-3.5 after:w-2.5
  after:-translate-y-1/3 after:rotate-45
  after:border-r-2 after:border-b-2
  after:border-white after:opacity-0

  peer-checked:after:opacity-100;
}
.c-agree-wrapper .c-custom-checkbox span {
  @apply font-normal text-[1.125rem];
}

.c-standard-card-sec {
  @apply my-30 max-md:my-20 max-sm:mt-11 max-sm:mb-13;
}
.c-standard-card-sec.c-stanard-spacinglayout-2 {
  @apply my-20.5  max-sm:mt-14.25 max-sm:mb-9.5;
}
.c-standard-card-slider {
  @apply max-lg:-mr-6 max-lg:-ml-6 max-lg:px-6  max-lg:w-[calc(100%+50px)];
}
.c-standard-card-slider .swiper-wrapper {
  @apply lg:grid lg:gap-7.5 lg:grid-cols-3;
}
.c-standard-card-slide {
  @apply max-lg:w-93 max-sm:w-79 h-auto flex flex-col grow-1 bg-mivida-green overflow-hidden min-h-146 rounded-2xl;
}
.c-standard-slide-media {
  @apply h-76.5 w-full;
}
.c-standard-slide-media img {
  @apply w-full h-full object-cover;
}

.c-standard-slide-content {
  @apply pt-6 px-7.5 pb-9.5 grow-1 flex flex-col;
}
.c-standard-card-sec.c-stanard-spacinglayout-2 .c-standard-slide-content {
  @apply xl:pb-13.5;
}
.c-standard-slide-content h6 {
  @apply font-karla leading-[1.4] text-(--mivida-white) font-bold mb-4;
}
.c-standard-slide-content p {
  @apply mb-5;
}

.c-standard-slide-content a {
  @apply mt-4 inline-flex items-center gap-2.5  text-(--mivida-white) text-[0.875rem] leading-[1.10] transition-all duration-300 ease-linear;
}
.c-standard-slide-content a svg path {
  @apply transition-all duration-300 ease-linear;
}
.c-standard-slide-content a:hover {
  @apply text-(--mivida-red-400);
}
.c-standard-slide-content a:hover svg path {
  @apply fill-(--mivida-red-400);
}
.c-standard-card-sec .c-swiper-btn-wrapper {
  @apply lg:hidden;
}

.c-faq-sec {
  @apply mt-22.5 mt-15 mx-6;
}
.c-faq-content-col {
  @apply w-[47.55%] max-md:w-[80%] max-sm:w-full md:sticky md:top-25;
}
.c-faq-content-col-inner {
  @apply md:max-w-137.5 ml-auto;
}
.c-faq-content-col h3 {
  @apply mb-7.5;
}
.c-faq-content-col p {
  @apply mb-7.5 text-(--mivida-black);
}
.c-faq-col {
  @apply w-[calc(41.7%+9px)] max-md:w-full lg:-mr-2.25;
}

.c-accor-heading {
  @apply cursor-pointer pt-8.5 pb-9.75 pr-10 relative border-t-1 border-(--mivida-green);
}

.c-accor-heading h5 {
  @apply m-0 text-(--mivida-black) relative text-[1.75rem];
}
.active .c-accor-heading h5 {
  @apply underline;
}
/* plus / minus icon */
.c-accor-heading h5::after {
  content: "+";
  @apply absolute -right-8.75 top-1/2 -translate-y-1/2 text-[1.9375rem]
         transition-transform duration-300 text-(--mivida-dark-teal);
}

.c-accor-row.active .c-accor-heading h5::after {
  content: "−";
}

/* content */
.c-accor-content {
  @apply max-h-0 overflow-hidden transition-[max-height] duration-400 ease-linear -translate-y-6.25;
}

.c-accor-content-inner {
  @apply pb-2.25 max-sm:pb-1.25 pr-5;
}
.c-ineline-list {
  @apply flex  gap-y-1 mb-3.5 flex-wrap;
}
.c-ineline-list span {
  @apply relative text-(--mivida-green) font-karla text-[0.75rem] leading-[1.4] font-normal pl-3.75  after:content-['']
         after:absolute
         after:w-[3px]
         after:h-[3px]
         after:left-1.25
         after:top-1/2
         after:-translate-y-1/2
         after:bg-mivida-green-300
         after:rounded-full;
}
.c-ineline-list span:first-child {
  @apply pl-0  after:w-[0px]
         after:h-[0px];
}
.c-accor-content p {
  @apply text-(--mivida-green);
}

.c-multicolor-article-cards {
  @apply mt-32 mb-44.5 max-lg:my-20 max-lg:my-20 max-lg:mt-8.5;
}
.article-heading-col {
  @apply sm:max-w-226.5 mb-7.5 pr-33 max-md:pr-15 max-sm:pr-6;
}
.article-heading-col p {
  @apply text-(--mivida-black);
}
.c-article-card-wrapper {
  @apply lg:max-w-278 lg:ml-0 max-lg:-mr-6 max-lg:-ml-6 max-lg:px-6 max-lg:w-[calc(100%+50px)];
}
.c-article-card-wrapper .swiper-wrapper {
  @apply lg:grid lg:grid-cols-2 lg:gap-4.5;
}
.c-article-card {
  @apply max-lg:w-136.75 max-sm:w-79 flex max-sm:flex-col bg-mivida-red-200 rounded-2xl overflow-hidden min-h-85.75 max-sm:min-h-153;
}
.article-card-media {
  @apply w-50.75 max-sm:w-full max-sm:h-68.5;
}
.article-card-media img {
  @apply w-full h-full object-cover object-top;
}
.article-card-content {
  @apply px-5 pt-8 w-[30%] grow-1 max-sm:w-full max-sm:flex max-sm:flex-col max-sm:p-5 max-sm:pb-10;
}
.article-card-content h4 {
  @apply text-(--mivida-red) mb-2.5;
}
.article-card-content p {
  @apply text-(--mivida-red-400) max-w-71.5;
}
.article-card-content .c-btn {
  @apply static mt-6.5 bg-mivida-red-400 max-sm:mt-auto;
}
.article-card-content .c-btn:hover {
  @apply bg-mivida-green;
}
.c-article-card.c-article-card-red300 {
  @apply bg-mivida-red-300;
}
.c-article-card.c-article-card-red300 h4 {
  @apply text-(--mivida-red-100);
}
.c-article-card.c-article-card-red300 p {
  @apply text-(--mivida-red-100);
}
.c-article-card.c-article-card-green {
  @apply bg-mivida-green;
}
.c-article-card.c-article-card-green h4,
.c-article-card.c-article-card-green p {
  @apply text-(--mivida-green-100);
}
.c-article-card.c-article-card-green200 {
  @apply bg-mivida-green-200;
}
.c-article-card.c-article-card-green200 h4,
.c-article-card.c-article-card-green200 p {
  @apply text-(--mivida-green);
}

.c-article-card.c-article-card-green200 .c-btn,
.c-article-card.c-article-card-green .c-btn {
  @apply bg-mivida-green-400 hover:bg-mivida-red-400;
}
.c-multicolor-article-cards .c-swiper-btn-wrapper {
  @apply lg:hidden;
}

.c-insight-article-banner-content {
  @apply sm:mx-3.5 mx-6 my-7.5;
}
.c-insight-article-banner-content .c-banner-img {
  @apply max-sm:w-[calc(100%+20px)] max-sm:-mx-2.5;
}
.c-insights-article-content {
  @apply mt-15.75 mb-18.25 max-md:mt-10 max-md:mb-17.5;
}
.l-content-readable {
  @apply max-w-202.5 px-5 mx-auto max-sm:px-0;
}
.c-insights-article-content h1,
.c-insights-article-content h2,
.c-insights-article-content h3,
.c-insights-article-content h4,
.c-insights-article-content h5,
.c-insights-article-content h6 {
  @apply mb-7;
}
.c-insights-article-content p {
  @apply text-(--mivida-black) mb-5;
}
.c-insights-article-content .c-content-box:not(:first-child) {
  @apply mt-24;
}
.c-insights-article-content h6 {
  @apply text-[1.5625rem] font-bold font-karla leading-[1.4];
}
.c-share-box {
  @apply mt-7.5 flex gap-5 items-center;
}
.c-share-box p {
  @apply text-(--mivida-black) font-bold mb-0;
}
.c-social-share {
  @apply flex gap-4;
}
.c-social-share a {
  @apply flex justify-center items-center w-10 h-10 bg-mivida-dark-teal rounded-[10px] hover:bg-mivida-red-400 transition-all duration-300 ease-linear;
}
.c-genric-text-sec {
  @apply mt-12.5 mb-17.5 max-sm:mt-8 max-sm:mb-19;
}

.text-box span {
  @apply text-[1rem] leading-[1.4] font-karla font-normal text-(--mivida-black) block mb-6 max-sm:mb-5.5;
}
.text-box p {
  @apply text-(--mivida-black) mt-4.75;
}
.text-box ul {
  @apply list-disc ml-[1.5rem];
}
.text-box ul li {
  @apply text-[1rem] leading-[1.35] font-karla font-normal text-(--mivida-black);
}
